## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
import numpy as np

# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
#Import the cities.csv file
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Khorixas,NaN,2022-05-31 03:58:28,-20.3667,14.9667,60.96,34,0,9.82
1,1,Ribeira Grande,PT,2022-05-31 03:58:29,38.5167,-28.7000,60.13,81,81,18.12
2,2,Busselton,AU,2022-05-31 03:58:29,-33.6500,115.3333,61.93,55,0,5.44
3,3,Puerto Ayora,EC,2022-05-31 03:58:29,-0.7393,-90.3518,71.78,90,100,8.59
4,4,Buala,SB,2022-05-31 03:58:30,-8.1450,159.5921,85.26,60,8,6.06

In [3]:
# # Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Enter a minimum temperature for your trip: "))
max_temp = float(input("Enter a maximum temperature for your trip: "))

Enter a minimum temperature for your trip: 70
Enter a maximum temperature for your trip: 80

In [32]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Puerto Ayora,EC,2022-05-31 03:58:29,-0.7393,-90.3518,71.78,90,100,8.59
8,8,Jamestown,US,2022-05-31 03:44:44,42.0970,-79.2353,71.24,65,0,8.05
9,9,Nea Stira,GR,2022-05-31 03:58:31,38.1833,24.2000,77.18,66,1,4.76
10,10,Arraial Do Cabo,BR,2022-05-31 03:58:32,-22.9661,-42.0278,71.56,88,75,5.75
11,11,Kapaa,US,2022-05-31 03:58:32,22.0752,-159.3190,79.12,74,10,3.00

In [33]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       129
City          129
Country       129
Date          129
Lat           129
Lng           129
Max Temp      129
Humidity      129
Cloudiness    129
Wind Speed    129
dtype: int64

In [34]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
3        Puerto Ayora      EC     71.78  -0.7393  -90.3518
8           Jamestown      US     71.24  42.0970  -79.2353
9           Nea Stira      GR     77.18  38.1833   24.2000
10    Arraial Do Cabo      BR     71.56 -22.9661  -42.0278
11              Kapaa      US     79.12  22.0752 -159.3190
16  Sao Joao Da Barra      BR     72.03 -21.6403  -41.0511
28         Hervey Bay      AU     72.01 -25.2986  152.8535
30          Mahebourg      MU     76.24 -20.4081   57.7000
31        Port-Gentil      GA     75.38  -0.7193    8.7815
37               Wuda      CN     78.48  39.4994  106.7117

In [49]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# 6b. Iterate through the hotel DataFrame.

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Puerto Ayora,EC,71.78,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Jamestown,US,71.24,42.0970,-79.2353,Hampton Inn & Suites Jamestown
9,Nea Stira,GR,77.18,38.1833,24.2000,Venus Beach Hotel
10,Arraial Do Cabo,BR,71.56,-22.9661,-42.0278,Pousada Porto Praia
11,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...
540,Takaungu,KE,76.32,-3.6837,39.8566,Takaungu House
541,Turayf,SA,76.84,31.6725,38.6637,Turaif
553,Cumpas,MX,73.42,29.9833,-109.7833,Hotel La Palma
559,Tarrafal,CV,74.19,15.2833,-23.7667,Hotel Ixola
560,Rock Sound,BS,78.57,24.9000,-76.2000,Pink Corral Bay Property

In [50]:
hotel_df.count()

City          118
Country       118
Max Temp      118
Lat           118
Lng           118
Hotel Name    118
dtype: int64

In [51]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"] = hotel_df["Hotel Name"].str.strip().replace(' ', np.nan)

In [52]:
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Puerto Ayora,EC,71.78,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Jamestown,US,71.24,42.0970,-79.2353,Hampton Inn & Suites Jamestown
9,Nea Stira,GR,77.18,38.1833,24.2000,Venus Beach Hotel
10,Arraial Do Cabo,BR,71.56,-22.9661,-42.0278,Pousada Porto Praia
11,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...
540,Takaungu,KE,76.32,-3.6837,39.8566,Takaungu House
541,Turayf,SA,76.84,31.6725,38.6637,Turaif
553,Cumpas,MX,73.42,29.9833,-109.7833,Hotel La Palma
559,Tarrafal,CV,74.19,15.2833,-23.7667,Hotel Ixola
560,Rock Sound,BS,78.57,24.9000,-76.2000,Pink Corral Bay Property

In [53]:
clean_hotel_df.count()

City          118
Country       118
Max Temp      118
Lat           118
Lng           118
Hotel Name    118
dtype: int64

In [54]:
# 8a. Create the output File (CSV)
output_data_file = "weather_data/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="Hotel_ID")

In [58]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
'''
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [59]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))